@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>ASP.NET Core 2.1 chat using SignalR, Identity, Entity Framework Core, MVC.</p>
<p>More my projects at <a href="https://github.com/SaveliyKolesnikov">my github</a>.</p>
