@{
    ViewData["Title"] = "Contact";
}
<h2>About me</h2>
<ul>
    <li>
        <h4><a href="https://github.com/SaveliyKolesnikov">My github</a></h4>
    </li>
    <li>
        <h4><a href="https://s-res.azurewebsites.net/about/">My website</a></h4>
    </li>
</ul>
