@using ChatAuth.Models
@model IEnumerable<ChatAuth.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <div> @item.Text</div>
            <span> @item.UserName</span>
            <small> @item.When.</small>
        </li>
    }
</ul>